@model OnlineShop.Application.ViewModels.CartItems.ListCartItemsForVM
<link href="~/css/CartStyle.css" rel="stylesheet" />
@if (Model == null)
{
    <p class="empty">@ViewBag.Cart</p>
}
else
{
    <table class="table w-50 m-auto pt-5 table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">product</th>
                <th scope="col">available</th>
                <th scope="col">quantity</th>
                <th scope="col">price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Product.Id</td>
                    <td>@item.Product.Model</td>
                    <td>@item.Product.Ammount.Quantity</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Value</td>
                    <td>
                        <a asp-controller="Cart" asp-action="AddToShoppingCart" class="btn btn-primary" asp-route-Id="@item.Product.Id">+</a>
                        <a asp-controller="Cart" asp-action="RemoveFromCart" class="btn btn-primary" asp-route-Id="@item.Product.Id">-</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="summary">
        <p>Products quantity: @Model.CartItems.Count</p>
        <p>Total payment: @Model.ShoppingCartTotal.ToString("c")</p>
        <div class="but_down btn btn-danger">@Html.ActionLink("Clear cart", "ClearShoppingCart", "Cart")</div>
        <div class="but_down btn btn-success">@Html.ActionLink("Complete Order", "Index", "Checkout")</div>
    </div>
}